<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @user.new_record? %>
  <div class="field" id= "user_name_div">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<% end %>

<% if !@user.new_record? %>
  <div class="field" id= "user_name_div">
    <strong><%= f.label :name %></strong><br />
    <%= @user.name %>
  </div>
<% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field" id="user_address_div">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

<% if @user.new_record? %>
  <div class = "actions" id = "new_user_form">
	<%= f.submit "Register"%>
  </div>
<% end %>

<% if !@user.new_record? %>
  <div class = "actions" id = "update_user_form">
 	<%= f.submit "Update"%>
  </div>
<% end %>


<% end %>
