<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @account.new_record? %>
  <div class="field" id= "new_account_name_div">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<% end %>

<% if !@account.new_record? %>
  <div class = "field" id="show_account_name_div">
	<strong><%= f.label :name %></strong><br />
	<div id="show_account_name"><%= @account.name %></div>
  </div>
<% end %>

  <div class = "field">
	<%= f.label :user_id %><br />
	<%= f.collection_select :user_id, @user, :id, :name, :prompt => "Select a user" %>
  </div>

  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div> 

  <div class="field">
    <%= f.label :member_since %><br />
    <%= f.date_select :member_since %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

<% if @account.new_record? %>
  <div class="actions" id = "new_account_form">
    <%= f.submit "Create"%>
  </div>
<% end %>

<% if !@account.new_record? %>
  <div class="actions" id = "update_account_form">
    <%= f.submit "Update"%>
  </div>
<% end %>

<% end %>
